*{
    margin: 0;}      
html{
    scroll-behavior: smooth;}      
body{
    background-color: rgb(184, 223, 250);
    display: block;}
html,body{
    height: 100%;}     
h1,h2,h3,h4{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);}
img{
    max-width: 100%;
    height: auto;}    
button,input{
    border: none;
    outline: none;}      
button{
    cursor: pointer;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);}
#container{
    min-height: 100%;
    padding-bottom: 250px;}

.nav-main{
    position: sticky;
    top: 0;
    margin-bottom: 20PX;
    border-width: thin medium thick 10px;}
.top-bar{
    background-color: #47c9e0;
    display: grid;
    grid-template-columns: .5fr 7fr 1fr ;
    border-radius: 20PX;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;}
.top-middle{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;}
.top-right{
    display: grid;
    margin: auto;
    grid-template-columns: 60px 60px 90px;}
.top-grid1{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #c3d8ff;}
.top-grid2{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    border: 1px solid #8bb6d0;
    text-align: center;}
.top-grid3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;}
.top-grid1:hover{
    border: 1px solid rgb(38, 90, 135);
    margin: 0;
    padding: 0;
    opacity: 70%;}
.top-grid2:hover{
    border: 1px solid rgb(50, 108, 158);
    opacity: 70%;}
.top-grid3:hover{
    border: 1px solid rgb(67, 129, 183);
    opacity: 70%;}
.top-grid1:active{
    border: 1px solid #c3d8ff;

}

 /*.div-home{}/////////////////*/

 .container-1{
    padding: 3em;
    display: grid;
    justify-content: center;
    grid-gap: 2em;
    
}
.upper{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
    width: min(70%, 60.5rem);
    margin-inline: auto;
    padding: 2em;
    background-color: rgb(214, 255, 255);
    min-width: 50vw;
    min-height: 30vh;
    max-height: 100vh;
    border-radius: 10px;
    border: 4px solid aqua;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.1);}
.upper-left{
    display: block;
    justify-content: center;
    height: auto;
    width: 15em ;
    border-radius: 20px;
    padding: 2em;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.1);}
.img{
    display: inline-block;
    border: 1px solid #491010;
    border-radius: 20px;
    max-width: 100%;}
.upper-right{
    display: block;
    justify-content: center;
    height: auto;
    width: 15em ;
    border-radius: 20px;
    padding: 2em;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.1);
    text-align: center;}
.intro{
    padding-top: 28px;
    font-style: oblique;}
.name{
    font-weight: 600;
    padding-top: 40px;}
.about{
    font-family: Garamond, serif;}


/*        2nd       */


.intro2{
    display: grid;
    grid-template-rows: auto;
    margin-bottom: 20px;}
.intro-title{
    
    width: min(70%, 60.5rem);
    margin-inline: auto;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 20px;}
.intro-title1{
    text-align: center;
    background-color: rgb(207, 250, 250);
    padding: 10px 0 10px 0;
    border: 4px solid aqua;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.1);
    border-radius: 50px;}
.upper-right2{
    padding: 1em 0 1em 0;
    display: grid;
    justify-content: center;
    grid-gap: 2em;
    width: min(80%, 60.5rem);
    margin-inline: auto;
    background-color: rgb(214, 255, 255);
    border: 4px solid aqua;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.1);
    border-radius: 20px;
    text-align: center;}
.upper-right21{
    display: flex;
    flex-direction: column;

    height: auto;
    width: 15em ;
    border-radius: 20px;
    padding: 2em;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.1);
    text-align: center;
}
.intro2{
    padding-top: 28px;
    font-style: oblique;}
.name2{
    font-weight: 600;
    padding-top: 40px;}
.about2{
    font-family: Garamond, serif;}

    /*foot*/
    
#footer{
    background-color: aquamarine;
    position: relative;
    opacity: 100%;
    height: 150px;
    margin-top: -150px;
    text-align: center;}
.end-title{
    font-family: 'Mr Dafoe', cursive;}
.social-icon{
    display: grid;
    grid-template-columns: 20px 20px 20px 20px ;
    display: flex;
    justify-content: center;
    align-items: center;}
.fa-twitter{
    padding-top: 20px;
    padding-right: 30px;}
.fa-facebook{
    padding-top: 20px;
    padding-right: 30px;}
.fa-instagram{
    padding-top: 20px;
    padding-right: 30px;}
.fa-youtube{
    padding-top: 20px;
    padding-right: 30px;}