*{
    margin: 0;}      
html{
    scroll-behavior: smooth;}      
body{
    background-color: rgb(184, 223, 250);
    display: block;}
html,body{
    height: 100%;}     
h1,h2,h3,h4{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);}
img{
    max-width: 100%;
    height: auto;}    
button,input{
    border: none;
    outline: none;}      
button{
    cursor: pointer;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);}
:root{
    --bg-color:red;
}
#container{
    min-height: 100%;
    padding-bottom: 250px;}

.nav-main{
    position: sticky;
    top: 0;
    height: 85px;
    border-width: thin medium thick 10px;}
.top-bar{
    background-color: #47c9e0;
    display: flex;
    justify-content: space-around;
    border-radius: 20PX;
    padding: 15px 0 15px 10px; 
    }
.top-middle, .top-grid1, .top-grid2 ,.top-grid3{
    display: flex;
    justify-content: center;}
 .top-middle{
    color: white;
    align-items: center;}
.top-right{
    display: grid;
    margin: auto;
    grid-template-columns: 60px 60px 90px;}
.top-grid1{
    align-items: center;
    border: 1px solid #c3d8ff;}
.top-grid2{
    margin: 0;
    padding: 0;
    text-align: center;}
.top-grid3{
    align-items: center;
    margin-right: 10px;}
.top-grid1:hover, .top-grid2:hover, .top-grid3:hover{
    margin: 0;
    padding: 0;
    opacity: 70%;}
    .top-grid3:hover{
    margin-right: 10px;}
.top-grid2:active, .top-grid2:active{
    background-color: blue;}



 /*.div-home{}/////////////////*/

 .container-1{
    padding: 3em;
    display: grid;
    justify-content: center;
    grid-gap: 2em;}
.upper{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    width: min(70%, 60.5rem);
    margin-inline: auto;
    padding: 2em;
    background-color: rgb(214, 255, 255);
    min-width: 50vw;
    min-height: 30vh;
    max-height: 100vh;
    border-radius: 10px;
    border: 4px solid aqua;
    transition: 500ms;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.144);}
.upper-left{
    display: block;
    justify-content: center;
    height: auto;
    width: 15em ;
    border-radius: 20px;
    padding: 2em;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.1);}
.img{
    display: inline-block;
    border: 1px solid #491010;
    border-radius: 20px;
    max-width: 100%;}
.upper-right{
    display: block;
    justify-content: center;
    height: auto;
    width: 15em ;
    border-radius: 20px;
    padding: 2em;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.1);
    text-align: center;}
.intro{
    padding-top: 28px;
    font-style: oblique;}
.name{
    font-weight: 600;
    padding-top: 40px;}
.about{
    font-family: Garamond, serif;}


/*        2nd       */
.upper:hover{
    box-shadow: 0px 0px 70px rgb(107, 225, 255);}

.intro2{
    display: grid;
    grid-template-rows: auto;
    margin-bottom: 20px;}
.intro-title{
    width: min(70%, 60.5rem);
    margin-inline: auto;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 20px;}
.intro-title1{
    text-align: center;
    background-color: rgb(207, 250, 250);
    padding: 10px 0 10px 0;
    border: 4px solid aqua;
    transition: 500ms;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.1);
    border-radius: 50px;}
.upper-right2{
    padding: 1em 0 1em 0;
    display: grid;
    justify-content: center;
    grid-gap: 2em;
    width: min(80%, 60.5rem);
    margin-inline: auto;
    background-color: rgb(214, 255, 255);
    border: 4px solid aqua;
    transition: 500ms;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.1);
    border-radius: 20px;
    text-align: center;}
.intro2:hover .light{
    box-shadow: 0px 0px 70px rgb(107, 225, 255);}
.upper-right21{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 15em ;
    border-radius: 20px;
    padding: 2em;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.1);
    text-align: center;}
.intro2{
    padding-top: 28px;
    font-style: oblique;}
.name2{
    font-weight: 600;
    padding-top: 40px;}
.about2{
    font-family: Garamond, serif;}

    /*foot*/
    
#footer{
    background-color: aquamarine;
    position: relative;
    opacity: 100%;
    height: 150px;
    margin-top: -150px;
    text-align: center;}
.end-title{
    font-family: 'Mr Dafoe', cursive;}
.social-icon{
    display: grid;
    grid-template-columns: 20px 20px 20px 20px ;
    display: flex;
    justify-content: center;
    align-items: center;}
.fa-twitter{
    color: black;
    text-decoration: none;
    margin-top: 15px;
    margin-right: 25px;
    padding: 5px 5px 5px 5px;
    border: 1px solid #349983;
    border-radius: 13px;}
.fa-facebook{
    color: black;
    text-decoration: none;
    margin-top: 15px;
    margin-right: 25px;
    padding: 5px 8px 5px 8px;
    border: 1px solid #349983;
    border-radius: 20px;}
.fa-instagram{
    color: black;
    text-decoration: none;
    margin-top: 15px;
    margin-right: 25px;
    padding: 5px 5px 5px 5px;
    border: 1px solid #349983;
    border-radius: 13px;}
.fa-youtube{
    color: black;
    text-decoration: none;
    margin-top: 15px;
    margin-right: 25px;
    padding: 5px 5px 5px 5px;
    border: 1px solid #349983;
    border-radius: 13px;}
    